.git                       export-ignore
.gitignore                 export-ignore
.gitattributes             export-ignore
.editorconfig              export-ignore
.github                    export-ignore
docs                       export-ignore
public/sass                export-ignore
tests                      export-ignore
README.md                  export-ignore
bitbucket-pipelines.yml    export-ignore
composer.json              export-ignore
composer.lock              export-ignore
gulpfile.js                export-ignore
package.json               export-ignore
phpunit.xml                export-ignore
phpunit.xml.dist           export-ignore
phpcs.xml                  export-ignore
phpcs.xml.dist             export-ignore
