<?xml version="1.0"?>
<ruleset name="WP Awethemes">
  <description>A custom set of rules to check for a Awethemes WordPress project</description>

  <config name="testVersion" value="5.4-7.1" />

  <!-- Exclude patterns -->
  <exclude-pattern>*/tests/**</exclude-pattern>
  <exclude-pattern>*/vendor/**</exclude-pattern>

  <!-- Run against the PHPCompatibility ruleset -->
  <rule ref="PHPCompatibility" />

  <!-- Run against a second ruleset -->
  <rule ref="WordPress-Extra">
    <exclude name="Generic.Files.LowercasedFilename.NotFound" />
    <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
    <exclude name="WordPress.Files.FileName.InvalidClassFileName" />
    <exclude name="WordPress.Arrays.ArrayDeclarationSpacing.AssociativeKeyFound" />
    <exclude name="WordPress.Classes.ClassInstantiation.MissingParenthesis" />
  </rule>

  <rule ref="WordPress-Docs">
    <exclude name="Squiz.Commenting.FileComment.Missing" />
    <exclude name="Squiz.Commenting.ClassComment.Missing" />
    <exclude name="Squiz.Commenting.FunctionComment.EmptyThrows" />
  </rule>
</ruleset>
