.cmb2-page-framework {
  overflow: hidden;
  margin: 0 20px 0 2px;
  max-width: 1300px;

  background-color: #fff;
  border: solid 1px #d9d9d9;
  // box-shadow: 0 5px 15px rgba(black, 0.25);

  .cmb2-tab-pane > .cmb-row,
  .cmb2-wrap > .cmb-field-list > .cmb-row {
    padding: 1em;
    margin-top: -1px;
    border-bottom: 1px solid #eee;
  }

  .cmb-repeatable-group,
  .cmb2-tab-pane > .cmb-row,
  .cmb2-wrap > .cmb-field-list > .cmb-row {
    > .cmb-th {
      padding: 0;
      width: 256px;
    }

    > .cmb-th + .cmb-td {
      float: none;
      padding: 0 0 0 1em;
      margin-left: 256px;
    }
  }

  .cmb2-tab-pane > .cmb-row.cmb-type-title,
  .cmb2-wrap > .cmb-field-list > .cmb-row.cmb-type-title {
    padding: 8px 12px;
    background-color: #fafafa;
    border-top: 1px solid #eee;

    .cmb2-metabox-title {
      font-size: 12px;
      text-transform: uppercase;

      margin-top: 0;
      margin-bottom: 0
    }

    .cmb2-metabox-description {
      margin: 0;
      padding-top: 0;
    }
  }
}

.cmb2-page-framework,
.cmb2-page-framework-header {
  border-radius: 1px;
  border-radius: 1px;
}

.cmb2-page-framework .cmb2-nav-vertical ul.cmb2-tabs {
  &, &:after {
    background-color: #f9f9f9;
    border-right-color: #e5e5e5;
  }

  > li > a {
    color: #7D8388;
    font-size: 13px;
    padding: 14px 20px;
    background-color: transparent;
    border-bottom-color: #e5e5e5;

    &:focus {
      // background-color: #fafafa;
    }

    .cmb2-tab-dashicons {
      color: #666;
    }
  }

  > li.active > a,
  > li.active > a:focus,
  > li.active > a:focus:active {
    color: #000;
    // font-weight: bold;
    // background-color: #fafafa;

    .cmb2-tab-dashicons {
      color: #000;
    }
  }

  li.active > ul {
    // background-color: #4a90d9;
  }

  ul.cmb2-sub-tabs {
    li > a {
      padding-left: 35px;
    }

    li:hover > a,
    li.active > a,
    li:focus:active > a {
      border-left-color: #4a90d9;
    }
  }
}

.cmb2-page-framework-header {
  box-sizing: border-box;
  overflow: hidden;

  padding: 0;
  height: 65px;
  border-bottom: solid 1px #ddd;

  h1 {
    color: #353535;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  h1 > small {
    font-size: 10px;
    text-transform: lowercase;
  }

  .button {
    width: 150px;
    height: 65px;

    border: none;
    border-radius: 0;

    color: #fff;
    font-size: 13px;
    font-weight: 500;
    background-color: #25daa5;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: #fff;
      background-color: lighten(#25daa5, 5%);
    }
  }
}

.cmb2-page-framework-logo {
  width: 256px;
  height: 65px;

  display: block;
  border-right: solid 1px #ddd;
  box-sizing: border-box;

  padding: 8px 0 0 15px;

  background-color: #f9f9f9;
}

.cmb2-page-framework-logo + h1 {
  margin-left: 256px;
}

.abcaaa {
  padding: 10px;
  background-color: red;
}

.sss-loading {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;

  width: 100%;
  height: 100%;
  background: url('../img/spinner.gif') no-repeat center center rgba(white, 0.5);
  display: none;
}
